<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{ISO8601} %X{IP} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

  <logger name="com.adviser.yuul" level="DEBUG" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
