<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
 
	<bean id="v6NaAddrBindingManager" 
  		  class="com.jagornet.dhcp.server.request.binding.V6NaAddrBindingManagerImpl"
  		  autowire="byType"/>
	<bean id="v6TaAddrBindingManager" 
  		  class="com.jagornet.dhcp.server.request.binding.V6TaAddrBindingManagerImpl"
  		  autowire="byType"/>
	<bean id="v6PrefixBindingManager" 
  		  class="com.jagornet.dhcp.server.request.binding.V6PrefixBindingManagerImpl"
  		  autowire="byType"/>
	<bean id="v4AddrBindingManager" 
  		  class="com.jagornet.dhcp.server.request.binding.V4AddrBindingManagerImpl"
  		  autowire="byType"/>

</beans>
