<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC
	"-//SPRING//DTD BEAN//EN"
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
 
	<bean id="naAddrBindingManager" 
  		  class="com.jagornet.dhcpv6.server.request.binding.NaAddrBindingManagerImpl"
  		  autowire="byType"/>
	<bean id="taAddrBindingManager" 
  		  class="com.jagornet.dhcpv6.server.request.binding.TaAddrBindingManagerImpl"
  		  autowire="byType"/>
	<bean id="prefixBindingManager" 
  		  class="com.jagornet.dhcpv6.server.request.binding.PrefixBindingManagerImpl"
  		  autowire="byType"/>
	<bean id="v4AddrBindingManager" 
  		  class="com.jagornet.dhcpv6.server.request.binding.V4AddrBindingManagerImpl"
  		  autowire="byType"/>

</beans>
